/*USPS Address equal height */
.blbdr{ border: 1px solid #5EC2EB; position: relative; overflow: hidden !important;}
.uspsWrap2{float:left; width:100%; position:relative; right:50%; background-color: #fff; }
.uspsWrap1{clear:left; float:left; width:100%; overflow:hidden; background-color: #ebf6fa; }
.uspsWrap1 .one_half{float:left; position:relative; left:50%; overflow:hidden; }
.uspsWrap1 .column_last{float:left; position:relative; left:50%; overflow:hidden; }

/*UI dialog */
.ui-dialog{margin: 0 !important;display: none;} /*Already availble in jun release global CSS*/
.popup{display: none;}

/*Table spacing adjest*/
table.styleB tr td{padding: 5px 10px !important;}

/*button inside the table*/
table.styleB{min-width: 100px;}
table.styleB tr td button.btnSmall{text-align: center; cursor: pointer;padding: 4px 6px}
table.styleB tr td button.btnSmall span{border: none;}
.btnOff{cursor: default !important}

/*Update button Alignments*/
.btnSmall{width: 80px}
.inProcess{padding-right: 30px}
.btnBar{margin-right: 10px}
.btnBar button{margin: 0 0 0 0 !important}

/*Button inside the form fields */
.lblFieldPair input.btn{border: 1px solid #d98106}
.lblFieldPair input.btn3{border: 1px solid #bfc8d0}
.txthlt5{width: 68px; margin: 0 auto; display: block}

.goBtn{width: auto}
.accessCodeLookup .lblFieldPair{margin-bottom: 5px}
.accessCodeLookup .lblFieldPair input{vertical-align: top}